.projectsContainer {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    gap: 2.5rem;
}

.projectsTittle {
    font-size: var(--font-size-t2);
    font-weight: 600;
}

.projectsList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

@media(min-width: 800px) {
    .projectsContainer {
        margin-left: 15%;
        max-width: 70%;
    }

    .projectsList {
        flex-direction: row;
        flex-wrap: wrap;
    }
}